<div class="alert alert-danger" [hidden]="!error">
	There was a problem logging in. Please try again.
</div>

<div style="margin-top: 3%; text-align: center" *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>

<form  #form="ngForm" class="form-control row login-form">
  <h2>Log in to <b>Habanero</b></h2>
  <div class="login-details">Enter your details below: </div>
  <div class="form-group row">
    <div class="col-sm-12 input-group">
      <span class="input-group-addon" id="username email"><i class="fa fa-envelope-o"></i></span>
      <input type="text" class="form-control input-email" name="username" placeholder="username" ngModel aria-describedby="username">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 input-group">
      <span class="input-group-addon" id="password"><i class="fa fa-unlock-alt"></i></span>
      <input type="password" class="form-control input-password" name="password" ngModel placeholder="Password" aria-describedby="password">
    </div>
  </div>

  <div class="container-forgot-password">
    <a routerLink="/password-reset/new" href="#" class="forgot-password">Forgot password?</a>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Remember me
    </label>
  </div>

  <div class="container-buttons">
    <button routerLink="/register" type="button" class="btn new-account-button">Create new account</button>
    <button (click)="login(form)" class="btn login-button">Log in</button>
  </div>
</form>
