<div class="container">
  <h1 class="contact_form_header">Contact Form</h1>

  <form autocomplete="off" spellcheck="false" #contactForm="ngForm" class="contactForm">

    <div class="form-group">
      <label for="formGrupExampleInput">Firstname</label>
      <input type="text" class="form-control" id="formGrupExampleInput" [(ngModel)]='contactCustomer.firstName' required minlength="3" #name="ngModel" name="firstName">
    </div>

    <div class="form-group">
      <label for="formGrupExampleInput2">Lastname</label>
      <input type="text" class="form-control" id="formGrupExampleInput2" [(ngModel)]='contactCustomer.lastName' required minlength="3" #name="ngModel" name="lastName">
    </div>

    <div class="form-group">
      <label for="formGrupExampleInput3">Email</label>
      <input type="text" class="form-control" id="formGrupExampleInput3" [(ngModel)]='contactCustomer.email' required minlength="4"  #name="ngModel" name="email">
    </div>

    <div class="form-group">
      <label for="formGrupExampleInput4">Country</label>
      <input type="text" class="form-control" id="formGrupExampleInput5" [(ngModel)]='contactCustomer.country' required minlength="2"  #name="ngModel" name="country">
    </div>

    <div class="form-group">
      <label for="formGrupExampleInput5">Phone Number</label>
      <input type="text" class="form-control" id="formGrupExampleInput5" [(ngModel)]='contactCustomer.phoneNumber' required minlength="4" #name="ngModel" name="phoneNumber">
    </div>

    <div class="form-group">
      <label>Your Message</label>
    </div>

    <div class="form-group">
      <textarea class="contact_form_textarea" #name="ngModel" rows="4" cols="50" required maxlength="32768" minlength="10"></textarea>
    </div>

    <button type="button" (click)="onSubmit()" [disabled]="!contactForm.form.valid" class="btn btn-success">Submit</button>

  </form>


</div>