<div class="content">
  <div class="header-container">
    <div class="left-col"></div>
    <div class="right-col">
      <a routerLink="home">Home</a>
      <a routerLink="login">Login</a>
      <a routerLink="course">Courses</a>
      <a routerLink="customer">Customers</a>
      <a routerLink="instructors">Instructors</a>
      <a routerLink="">About Us</a>
      <a routerLink="">Contact Us</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- TODO : 
1.fix the style of modal and of the whole template
2.see why when adding new instructor, remembers the informations of last added instructor 
-->
