.left-col {
    width: 50%;
    float: left;
    padding-left: 25px;
  }
  
  .right-col {
    width: 50%;
    float: right;
    padding-top: 15px;
  }
  
  .right-col a {
    padding: 15px;
  }

  .content {
      position: relative;
  }

  .content p {
    text-align: center;
    color:black;
  }
  
  .instructorModal, .customerModal, courseModal {
    width: 50%;
    height: auto;
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 999;
    border-radius: 25px;
    border: solid 1px #aaa;
    background-color: white;
  }