<div ng-class="classes" style="text-align: center">
  <h1>All Customers</h1>
  <div>
    <button type="button" class="btn btn-primary" (click)="openAddBox()">Add Instructor</button>
    <button type="button" class="btn btn-success" (click)="refreshList();$event.target.blur()">Refresh List</button>
  </div>
  <router-outlet></router-outlet>
  <div class="mat-elevation-z8">
    <table class="table table-inverse instructors-list">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Password</th>
          <th>Email</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        <tr class="contentRows" *ngFor="let instructor of instructors" (click)="openEditBox(instructor)">
          <td>{{instructor.firstName}}</td>
          <td>{{instructor.lastName}}</td>
          <td>{{instructor.password}}</td>
          <td>{{instructor.email}}</td>
          <td>{{instructor.dateCreated}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="instructorModal" *ngIf="showEditBox">
  <div class="row" style="padding-top: 5%">
    <div class="col-2">
      <div class="col-8">
        <div class="row">
          <div class="container">
            <form autocomplete="off" spellcheck="false">
              <div class="form-group">
                <label for="formGrupExampleInput">Firstname</label>
                <input type="text" class="form-control" id="formGrupExampleInput" [(ngModel)]='modalInstructor.firstName' name="firstName">
              </div>
              <div class="form-group">
                <label for="formGrupExampleInput2">Lastname</label>
                <input type="text" class="form-control" id="formGrupExampleInput2" [(ngModel)]='modalInstructor.lastName' name="lastName">
              </div>
              <div class="form-group">
                <label for="formGrupExampleInput3">Password</label>
                <input type="text" class="form-control" id="formGrupExampleInput3" [(ngModel)]='modalInstructor.password' name="password">
              </div>
              <div class="form-group">
                <label for="formGrupExampleInput4">Email</label>
                <input type="text" class="form-control" id="formGrupExampleInput4" [(ngModel)]='modalInstructor.email' name="email">
              </div>
              <div class="form-group">
                <label for="formGrupExampleInput5">Date Created</label>
                <input type="text" class="form-control" id="formGrupExampleInput5" [(ngModel)]='modalInstructor.dateCreated' name="dateCreated">
              </div>
              <div class="row text-center pt-4">
                <div class="col-4">
                  <button type="button" class="btn btn-primary" (click)='updateInstructor(modalInstructor.id, modalInstructor)'>Apply Changes</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-success" (click)='closeEditBox()'>Cancel</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-danger" (click)='deleteInstructor(modalInstructor.id)'>Delete</button>
                </div>
                <div class="row text-center pt-3"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="instructorModal" *ngIf="showAddBox">
  <div class="row" style="padding-top: 5%">
    <div class="col-2">
      <div class="col-8">
        <div class="row">
          <div class="container">
            <form autocomplete="off" spellcheck="false">
              <div class="form-group">
                <label for="formGrupExampleInput">Firstname</label>
                <input type="text" class="form-control" id="formGrupExampleInput" [(ngModel)]='modalInstructor.firstName' name="firstName">
              </div>
              <div class="form-group">
                <label for="formGrupExampleInput2">Lastname</label>
                <input type="text" class="form-control" id="formGrupExampleInput2" [(ngModel)]='modalInstructor.lastName' name="lastName">
              </div>
              <div class="form-group">
                <label for="formGrupExampleInput3">Password</label>
                <input type="text" class="form-control" id="formGrupExampleInput3" [(ngModel)]='modalInstructor.password' name="password">
              </div>
              <div class="form-group">
                <label for="formGrupExampleInput4">Email</label>
                <input type="text" class="form-control" id="formGrupExampleInput4" [(ngModel)]='modalInstructor.email' name="email">
              </div>
              <div class="form-group">
                <label for="formGrupExampleInput5">Date Created</label>
                <input type="text" class="form-control" id="formGrupExampleInput5" [(ngModel)]='modalInstructor.dateCreated' name="dateCreated">
              </div>
              <div class="row text-center pt-4">
                <div class="col-4">
                  <button type="button" class="btn btn-primary" (click)='addInstructor()'>Apply Changes</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-success" (click)='closeEditBox()'>Cancel</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-danger" (click)='deleteInstructor(modalInstructor.id)'>Delete</button>
                </div>
                <div class="row text-center pt-3"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>