form.forgot-password {
  background-color: white;
  padding: 3%;
  width: 35%;
  margin: 8% auto;
  border-radius: 20px;
}

.forgot-password span#email {
  background: linear-gradient(to right, #00374c 0, #00658c 100%);
  width: 50px;
}

.forgot-password input.input-email {
  color: #00658c;
}

.forgot-password i.fa {
  color: white;
}

.forgot-password-details {
  font-size: 12px;
  margin-bottom: 3%;
}

.reset-button {
  width: 60%;
  background: linear-gradient(to right, #00374c 0, #00658c 100%);
  color: white;
  cursor: pointer;
}

.reset-button:hover {
  width: 60%;
  background: linear-gradient(to right, #00658c 0, #00374c 100%);
  color: white;
}

.cancel-button {
  width: 39%;
  color: #00658c;
  border: 2px solid #00658c;
  background: white;
  cursor: pointer;

}

.cancel-button:hover {
  width: 39%;
  background: white;
  border: 2px solid #00374c;
  color: #00374c;
}
