<form class="form-control row forgot-password">
  <h2>Forgot password?</h2>
  <div class="forgot-password-details">We will send your password reset instructions to your associated address. Please enter your current email.</div>
  <div class="form-group row">
    <div class="col-sm-12 input-group">
      <span class="input-group-addon" id="email"><i class="fa fa-envelope-o"></i></span>
      <input type="text" class="form-control input-email" placeholder="Email address" aria-describedby="email">
    </div>
  </div>

  <div class="container-buttons">
    <button type="button" class="btn cancel-button" routerLink="/login" href="#">Cancel</button>
    <button type="button" class="btn reset-button">Reset password</button>
  </div>
</form>
