.carousel-inner {
  height: 100%;
  width: 100%;
}

.padding {
  padding: 2rem;
}

.habanero-info {
  color: #EFF3F5;
  background-color: #222C3C;
}

.habanero-info .vertical-line {
  border-left: 2px solid #1E2631;
}

.width-top-courses {
  width: 90%;
}
