.customers-list th {
    text-align: center;
}

.customers-list {
    width: 60%;
    margin-left: 15px;
    margin-top: 25px;
}

.customerModal {
    width: 50%;
    height: auto;
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 999;
    border-radius: 25px;
    border: solid 1px #aaa;
    background-color: white;
    padding: 5%;
  }